.nav {
    ul {
        display: flex;
        align-items: center;
        gap: 24px;
    }
}

.link {
    text-decoration: none;
    color: #333;
    transition: color .3s ease-in-out;
    &_active {
        text-decoration: none;
        color: #c987fb;
    }
}