.checkbox {

    input {
        position: relative;
        width: 24px;
        height: 24px;

        border: 1px solid #333;
        border-radius: 50%;
        outline: none;
        background-color: transparent;

        transition: border-color .3s ease-in-out;

        cursor: pointer;

        -webkit-appearance: none;
        appearance: none;
    }

    input::after {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: 18px;
        height: 18px;

        background-color: transparent;
        border-radius: 50%;

        transition: background-color .3s ease-in-out;
    }

    &_checked {
        input::after {
            background-color: #c987fb;
        }
    }

    &:focus {
        input[type="checkbox"] {
            border-color: #c987fb;
        }
    }
}

@media (any-hover: hover) {
    .checkbox:hover {
        input[type="checkbox"] {
            border-color: #c987fb;
        }
    }
}